<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Протокол</title>
    <meta charset="UTF-8"></meta>
    <style>
        .center {
            text-align: center;
        }

        body {
            margin-left: 40px;
        }

        p {
            margin: 2px 0;
            font-size: 14px;
        }

        h1 {
            text-align: center;
            font-size: 18px;
            margin: 0;
        }

        h2 {
            text-align: center;
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }

        h2, h3 {
            margin-top: 7px;
            margin-bottom: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
            font-size: 12px;
            text-align: center;
        }

        th, td {
            padding: 1px 1px;
            border: 1px solid #111;
        }

        .noBorder {
            border: 0;
        }

        .frac {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            letter-spacing: 0.001em;
            text-align: center;
        }

        .frac > span {
            display: block;
            padding: 0.1em;
        }

        .frac .denominator {
            border-top: 1px solid;
        }
    </style>
</head>
<body>

<div>
    <h1>ПРОТОКОЛ</h1>
    <table class="table">
        <tbody>
        <tr class="noBorder">
            <td class="noBorder" style="text-align: left;"
                th:text="'Дата начала исследования: ' + ${#temporals.format(probe.getStartDate(), 'dd.MM.yyyy')}"></td>
            <td class="noBorder" style="text-align: right;"
                th:text="'Дата окончания исследования: ' + ${#temporals.format(probe.getEndDate(), 'dd.MM.yyyy')}"></td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
        <tr>
            <td th:utext="'Код пробы: ' + ${probe.getCode()}">Код пробы: 312-321</td>
            <td th:utext="'Наименование пробы: ' + ${probe.getName()}">Наименование пробы</td>
        </tr>
        <tr>
            <td th:utext="'Масса пробы теоретическая: ' + ${probe.getMassTheory()}"></td>
            <td th:utext="'Масса пробы фактическая: ' + ${probe.getMassFact()}">/</td>
        </tr>
        </tbody>
    </table>
    <h2>Исследования</h2>
    <div th:if="${probe.getDrySubstancesResearch()} != null">
        <h3>Сухие вещества, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса бюксы без навески, г</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaParallelFirst()}">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaParallelSecond()}">100</td>

            </tr>
            <tr>
                <td>Масса навески, г</td>
                <td th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelFirst()}">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Масса бюксы после высушивания, г</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelFirst()}">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Сухие вещества, г/порц.</td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'(' + ${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelFirst()} + ' - ' + ${probe.getDrySubstancesResearch().getByuksaParallelFirst()} + ')' + ' × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator"
                            th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelFirst()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getDrySubstancesResearch().getDrySubstancesParallelFirst()}">= 12</span>
                </td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'(' + ${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelSecond()} + ' - ' + ${probe.getDrySubstancesResearch().getByuksaParallelSecond()} + ')' + ' × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator"
                            th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelSecond()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getDrySubstancesResearch().getDrySubstancesParallelSecond()}">= 12</span>
                </td>
            </tr>
            <tr>
                <td>Сухие вещества средние, г/порц.</td>
                <td colspan="2" th:text="${probe.getDrySubstancesResearch().getDrySubstancesAverage()}">
                    100+100=200
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getProteinsResearch()} != null">
        <h3>Белки, МУ 4237</h3>
        <table class="table">
            <tbody>
            <tr>
                <td th:utext="'Объём контроля: ' + ${probe.getProteinsResearch().getControlVolume()}"></td>
                <td th:utext="'Коэффициент: ' + ${probe.getProteinsResearch().getCoefficient()}">/</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса навески, г</td>
                <td th:text="${probe.getProteinsResearch().getMassNaveskiParallelFirst()}">100</td>
                <td th:text="${probe.getProteinsResearch().getMassNaveskiParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Объём титранта, см³</td>
                <td th:text="${probe.getProteinsResearch().getTitrantVolumeParallelFirst()}">100</td>
                <td th:text="${probe.getProteinsResearch().getTitrantVolumeParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Белки, г/порц.</td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'0,0014 × 6,25 × '+ ${probe.getProteinsResearch().getCoefficient()} + ' × ('+ ${probe.getProteinsResearch().getTitrantVolumeParallelFirst()} + ' - ' + ${probe.getProteinsResearch().getControlVolume()} + ') × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator" th:text="${probe.getProteinsResearch().getMassNaveskiParallelFirst()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getProteinsResearch().getProteinsParallelFirst()}">= 12</span>
                </td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'0,0014 × 6,25 × '+ ${probe.getProteinsResearch().getCoefficient()} + ' × ('+ ${probe.getProteinsResearch().getTitrantVolumeParallelSecond()} + ' - ' + ${probe.getProteinsResearch().getControlVolume()} + ') × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator" th:text="${probe.getProteinsResearch().getMassNaveskiParallelSecond()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getProteinsResearch().getProteinsParallelFirst()}">= 12</span>
                </td>
            </tr>
            <tr>
                <td>Белки средние, г/порц.</td>
                <td colspan="2" th:text="${probe.getProteinsResearch().getProteinsAverage()}">100+100=200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getFatsResearch()} != null">
        <h3>Жиры, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса навески, г</td>
                <td th:text="${probe.getFatsResearch().getMassNaveskiParallelFirst()}">100</td>
                <td th:text="${probe.getFatsResearch().getMassNaveskiParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Масса пустого патрона, г</td>
                <td th:text="${probe.getFatsResearch().getPatronMassEmptyParallelFirst()}">100</td>
                <td th:text="${probe.getFatsResearch().getPatronMassEmptyParallelSecond()}">100</td>

            </tr>
            <tr>
                <td>Масса патрона после экстракции, г</td>
                <td th:text="${probe.getFatsResearch().getPatronMassAfterExtractionParallelFirst()}">100</td>
                <td th:text="${probe.getFatsResearch().getPatronMassAfterExtractionParallelSecond()}">100</td>
            </tr>
            <tr>
                <td>Жиры, г/порц.</td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'(' + ${probe.getFatsResearch().patronMassBeforeExtractionParallelFirst()} + ' - ' + ${probe.getFatsResearch().getPatronMassAfterExtractionParallelFirst()} + ') × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator"
                            th:text="${probe.getFatsResearch().getMassNaveskiParallelFirst()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getFatsResearch().getFatsParallelFirst()}">= 12</span>
                </td>
                <td>
                    <span class="frac">
                      <span class="numerator"
                            th:text="'(' + ${probe.getFatsResearch().patronMassBeforeExtractionParallelSecond()} + ' - ' + ${probe.getFatsResearch().getPatronMassAfterExtractionParallelSecond()} + ') × ' + ${probe.getMassFact()}">(10 - 1) × 123</span>
                      <span class="denominator"
                            th:text="${probe.getFatsResearch().getMassNaveskiParallelSecond()}">20</span>
                    </span>
                    <span th:text="' = ' + ${probe.getFatsResearch().getFatsParallelSecond()}">= 12</span>
                </td>
            </tr>
            <tr>
                <td>Жиры средние, г/порц.</td>
                <td colspan="2" th:text="${probe.getFatsResearch().getFatsAverage()}">100+100=200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getFactCarbohydrates()} != null">
        <h3>Углеводы, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Углеводы, г/порц.</td>
                <td th:if="${probe.getType() != probe.getType().THIRD}" th:text="${probe.getDrySubstancesResearch().getDrySubstancesAverage()} + ' - (' + ${probe.getProteinsResearch().getProteinsAverage()} + ' + ' + ${probe.getFatsResearch().getFatsAverage()} + ' + ' + ${probe.getMinerals()} + ')' + ' = ' + ${probe.getFactCarbohydrates()}">
                    100
                </td>
                <td th:if="${probe.getType() == probe.getType().THIRD}" th:text="${probe.getDrySubstancesResearch().getDrySubstancesAverage()} + ' - ' + ${probe.getMinerals()} + ' = ' + ${probe.getFactCarbohydrates()}">
                    100
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getFactCaloricity()} != null">
        <h3>Энергетическая ценность, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Энергетическая ценность, ккал/порц.</td>
                <td th:if="${probe.getType() != probe.getType().THIRD}" th:text="'4 × ' + ${probe.getProteinsResearch().getProteinsAverage()} + ' + 9 × ' + ${probe.getFatsResearch().getFatsAverage()} + ' + 4 × ' + ${probe.getFactCarbohydrates()} + ' = ' + ${probe.getFactCaloricity()}">
                    100
                </td>
                <td th:if="${probe.getType() == probe.getType().THIRD}" th:text="'4 × ' + ${probe.getFactCarbohydrates()} + ' = ' + ${probe.getFactCaloricity()}">
                    100
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Результаты</h2>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td></td>
            <td>Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null">Жиры</td>
            <td>Углеводы</td>
            <td>Энергетическая ценность</td>
        </tr>
        <tr>
            <td>Теоретические</td>
            <td th:utext="${probe.getTheoryDrySubstances()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null" th:utext="${probe.getTheoryProteins()}">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getTheoryFats()}">Жиры</td>
            <td th:utext="${probe.getTheoryCarbohydrates()}">Углеводы</td>
            <td th:utext="${probe.getTheoryCaloricity()}">Энергетическая ценность</td>
        </tr>
        <tr>
            <td>Фактические</td>
            <td th:utext="${probe.getDrySubstancesResearch().getDrySubstancesAverage()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null"
                th:utext="${probe.getProteinsResearch().getProteinsAverage()}">Белки
            </td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getFatsResearch().getFatsAverage()}">Жиры
            </td>
            <td th:utext="${probe.getFactCarbohydrates()}">Углеводы</td>
            <td th:utext="${probe.getFactCaloricity()}">Энергетическая ценность</td>
        </tr>
        <tr>
            <td>% отклонения</td>
            <td th:utext="${probe.getDrySubstancesDifference()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null" th:utext="${probe.getProteinsDifference()}">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getFatsDifference()}">Жиры</td>
            <td th:utext="${probe.getCarbohydratesDifference()}">Углеводы</td>
            <td th:utext="${probe.getCaloricityDifference()}">Энергетическая ценность</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
        <tr class="noBorder">
            <td class="noBorder">Исполнитель:</td>
            <td class="noBorder">_________________</td>
            <td class="noBorder">_________________________________________________________________</td>
        </tr>
        <tr class="noBorder">
            <td class="noBorder"></td>
            <td class="noBorder">(подпись)</td>
            <td class="noBorder">(Ф.И.О.)</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>