<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Протокол</title>
    <meta charset="UTF-8"></meta>
    <style>
        body {
            margin-left: 40px;
        }

        p {
            margin: 2px 0;
            font-size: 14px;
        }

        h1 {
            text-align: center;
            font-size: 18px;
            margin: 0;
        }

        h2 {
            text-align: center;
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }

        h2, h3 {
            margin-top: 7px;
            margin-bottom: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
            font-size: 12px;
            text-align: center;
        }

        th, td {
            padding: 1px 1px;
            border: 2px solid #ddd;
        }
    </style>
</head>
<body>

<div>
    <h1 th:utext="'ПРОТОКОЛ</br>от ' + ${#temporals.format(probe.createdAt, 'dd-MM-yyyy')}">ПРОТОКОЛ</br>от
        08-06-2024</h1>
    <p th:utext="'Код пробы: ' + ${probe.getCode()}">Код пробы: 312-321</p>
    <p th:utext="'Тип пробы: ' + ${probe.getType().russianName}">Код пробы: 312-321</p>
    <p th:utext="'Наименование пробы: ' + ${probe.getName()}">Код пробы: 312-321</p>
    <p th:utext="'Масса банки с пробой: ' + ${probe.getBankaWithProbeMass()} + ' г'">Код пробы: 312-321</p>
    <p th:utext="'Масса пустой банки: ' + ${probe.getBankaEmptyMass()} + ' г'">Код пробы: 312-321</p>
    <p th:utext="'Масса пробы фактическая: ' + ${probe.getMassFact()} + ' г'">Код пробы: 312-321</p>
    <p th:utext="'Масса пробы теоретическая: ' + ${probe.getMassTheory()} + ' г'">Код пробы: 312-321</p>
    <h2>Исследования</h2>
    <div th:if="${probe.getDrySubstancesResearch()} != null">
        <h3>Сухие вещества, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса бюксы без навески</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaParallelSecond()} + ' г'">100</td>

            </tr>
            <tr>
                <td>Масса навески</td>
                <td th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getMassNaveskiParallelSecond()} + ' г'">100</td>
            </tr>
            <tr>
                <td>Масса бюксы после высушивания</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getDrySubstancesResearch().getByuksaAfterDryingParallelSecond()} + ' г'">100</td>
            </tr>
            <tr>
                <td>Сухие вещества</td>
                <td th:text="${probe.getDrySubstancesResearch().getDrySubstancesParallelFirst()} + ' г'">100+100=200
                </td>
                <td th:text="${probe.getDrySubstancesResearch().getDrySubstancesParallelSecond()} + ' г'">100+100=200
                </td>
            </tr>
            <tr>
                <td>Сухие вещества средние</td>
                <td colspan="2" th:text="${probe.getDrySubstancesResearch().getDrySubstancesAverage()} + ' г'">
                    100+100=200
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getProteinsResearch()} != null">
        <h3>Белки, МУ 4237</h3>
        <p th:utext="'Объём контроля: ' + ${probe.getProteinsResearch().getControlVolume()} + ' см^3'">Код пробы:
            312-321</p>
        <p th:utext="'Коэффициент: ' + ${probe.getProteinsResearch().getCoefficient()}">Код пробы: 312-321</p>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса навески</td>
                <td th:text="${probe.getProteinsResearch().getMassNaveskiParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getProteinsResearch().getMassNaveskiParallelSecond()} + ' г'">100</td>
            </tr>
            <tr>
                <td>Объём титранта</td>
                <td th:text="${probe.getProteinsResearch().getTitrantVolumeParallelFirst()} + ' см^3'">100</td>
                <td th:text="${probe.getProteinsResearch().getTitrantVolumeParallelSecond()} + ' см^3'">100</td>
            </tr>
            <tr>
                <td th:if="${probe.getProteinsResearch()} != null">Белки</td>
                <td th:text="${probe.getProteinsResearch().getProteinsParallelFirst()} + ' г'">100+100=200</td>
                <td th:text="${probe.getProteinsResearch().getProteinsParallelSecond()} + ' г'">100+100=200</td>
            </tr>
            <tr>
                <td>Белки средние</td>
                <td colspan="2" th:text="${probe.getProteinsResearch().getProteinsAverage()} + ' г'">100+100=200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getFatsResearch()} != null">
        <h3>Жиры, МУ 4237</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td>1-ая параллель</td>
                <td>2-ая параллель</td>
            </tr>
            <tr>
                <td>Масса навески</td>
                <td th:text="${probe.getFatsResearch().getMassNaveskiParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getFatsResearch().getMassNaveskiParallelSecond()} + ' г'">100</td>
            </tr>
            <tr>
                <td>Масса пустого патрона</td>
                <td th:text="${probe.getFatsResearch().getPatronMassEmptyParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getFatsResearch().getPatronMassEmptyParallelSecond()} + ' г'">100</td>

            </tr>
            <tr>
                <td>Масса патрона после экстракции</td>
                <td th:text="${probe.getFatsResearch().getPatronMassAfterExtractionParallelFirst()} + ' г'">100</td>
                <td th:text="${probe.getFatsResearch().getPatronMassAfterExtractionParallelSecond()} + ' г'">100</td>
            </tr>
            <tr>
                <td th:if="${probe.getFatsResearch()} != null">Жиры</td>
                <td th:text="${probe.getFatsResearch().getFatsParallelFirst()} + ' г'">100+100=200</td>
                <td th:text="${probe.getFatsResearch().getFatsParallelSecond()} + ' г'">100+100=200</td>
            </tr>
            <tr>
                <td>Жиры средние</td>
                <td colspan="2" th:text="${probe.getFatsResearch().getFatsAverage()} + ' г'">100+100=200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${probe.getFactCarbohydrates()} != null">
        <h3>Углеводы, МУ 4237</h3>
        <p th:utext="'Углеводы: ' + ${probe.getFactCarbohydrates()} + ' г'">Код пробы: 312-321</p>
    </div>
    <div th:if="${probe.getFactCaloricity()} != null">
        <h3>Энергетическая ценность, МУ 4237</h3>
        <p th:utext="'Энергетическая ценность: ' + ${probe.getFactCaloricity()} + ' ккал'">Код пробы: 312-321</p>
    </div>
    <h2>Результаты</h2>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td></td>
            <td>Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null">Жиры</td>
            <td>Углеводы</td>
            <td>Энергетическая ценность</td>
        </tr>
        <tr>
            <td>Теоретические</td>
            <td th:utext="${probe.getTheoryDrySubstances()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null" th:utext="${probe.getTheoryProteins()}">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getTheoryFats()}">Жиры</td>
            <td th:utext="${probe.getTheoryCarbohydrates()}">Углеводы </td>
            <td th:utext="${probe.getTheoryCaloricity()}">Энергетическая ценность</td>
        </tr>
        <tr>
            <td>Фактические</td>
            <td th:utext="${probe.getDrySubstancesResearch().getDrySubstancesAverage()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null" th:utext="${probe.getProteinsResearch().getProteinsAverage()}">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getFatsResearch().getFatsAverage()}">Жиры</td>
            <td th:utext="${probe.getFactCarbohydrates()}">Углеводы </td>
            <td th:utext="${probe.getFactCaloricity()}">Энергетическая ценность</td>
        </tr>
        <tr>
            <td>% отклонения</td>
            <td th:utext="${probe.getDrySubstancesDifference()}">Сухие вещества</td>
            <td th:if="${probe.getProteinsResearch()} != null" th:utext="${probe.getProteinsDifference()}">Белки</td>
            <td th:if="${probe.getFatsResearch()} != null" th:utext="${probe.getFatsDifference()}">Жиры</td>
            <td th:utext="${probe.getCarbohydratesDifference()}">Углеводы </td>
            <td th:utext="${probe.getCaloricityDifference()}">Энергетическая ценность</td>
        </tr>
        </tbody>
    </table>
    <p>Исполнитель: __________ ________________________</p>
</div>
</body>
</html>